PORT=3000
FORWARD_URL=
WATI_API_ENDPOINT=https://api.wati.io
WATI_API_TOKEN=wati_2ab9fc9d-ed84-4b03-a79e-c18c7bf91482.zVo27EsQuPSHm_5oyZ7QUikGHsg_pRu_ZNmBzNQrRTV2KG8niKR5H3CHLP6BseppO64K6w3mWmYHws1QgTFUixx2qu5ulE0DAjQHgV50pzP6gL84bpBJFRkXufeZU2O7
ADMIN_SECRET=gaffarindia_admin_secret_key
EVENTS_MAX=500
LOG_LEVEL=dev
